body{
    font-family: 'Lato', sans-serif;
    display: flex;
    margin: 0;
    padding: 0;
}
body aside+main{
    height: 100vh;
}
aside{
    flex: 2;
    background: url("https://natureconservancy-h.assetsadobe.com/is/image/content/dam/tnc/nature/en/photos/WOPA160517_D056-resized.jpg?crop=864%2C0%2C1728%2C2304&wid=600&hei=800&scl=2.88");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
aside header{
    background-color: black;
    opacity: 0.5;
    height: 140px;
    position: relative;
    top: 14%;
}
aside h1{
    opacity: 1;
    text-align: center;
    position: relative;
    color: white;
    bottom: 2%;
    font-size: 300%;
}
main{
    flex: 3;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2;
    box-shadow: 10px 5px 5px black;
}
main .first{
    flex: 11;
    background-color: #EEE;
}
main .first p{
    margin-left: 50px;
    font-size: 24px;
}

main .first p:first-child{
    margin-top: 15%;
}
main .second{
    flex: 10;
    background-color: white;
}
main .second h1{
    margin-left: 45px;
}
main .second form .form {
    display: flex;
}
main .second form .form section section{
    margin: 10px;
    margin-left: 50px;
}
main .second form .form section section label{
    letter-spacing: 1.2px;
    font-size: 18px;
}
main .second form .form section section input{
    width: 190px;
    height: 20px;
    border: 1px;
    border-radius: 5px;
    border-style: solid;
    border-color: #DDD;
    
}
main .second form .form section section input:focus{
    border-color: dodgerblue;
    outline: none;
    box-shadow: 1px 1px 2px dodgerblue;
}
datalist{
    border: none;
}
main .second form .form .label1 {
    flex: 1;
}
main .second form .form .label2 {
    flex: 2;
}
main .third{
    flex: 11;
    background-color: #EEE;
}
main .third button{
    width: 180px;
    height: 40px;
    margin: 40px;
    margin-bottom: 0;
    background-color: #009933;
    color: white;
    font-size: 18px;
    border: 1px solid #009933;
    border-radius: 5px;
    transition: ease-in-out 0.3s;
}
main .third button:hover{
    background-color: white;
    color: #009933;
}
main .third p {
    margin-left: 40px;
}
main .third p a:any-link {
    text-decoration: none;
    font-weight: bold;
    color: #009933;
}

span{
    margin-top: 0;
    font-size: 10px;
}
.danger{
    color: red;
}
.success{
    color: green;
}

